<%= render "shared/navbar" %>
<%= render "shared/flash" %>
<div class="grid grid-cols-3 auto-rows-min gap-4 w-2/3 mx-auto mt-5">
  <div class="col-span-2 grid grid-cols-1 grid-rows-1 gap-4 py-4 px-4 bg-white shadow-sm border border-slate-200 rounded-lg">
    <div class="flex items-center justify-between">
      <div class="text-3xl">@<%= @user.username %></div>
      <% if current_user != @user %>
        <% if current_user.followings.include?(@user)  %>
          <%= link_to "Unfollow", unfollow_path(@user), data: { turbo_method: :delete }, class: "rounded bg-blue-600 px-3 py-1.5 text-sm font-medium text-white hover:bg-blue-700" %>
        <% else %>
          <%= button_to "Follow", follow_path(@user), data: { turbo: false }, class: "rounded bg-blue-600 px-3 py-1.5 text-sm font-medium text-white hover:bg-blue-700"%>
        <% end %>
      <% end %>
    </div>
    <div class="flex items-center gap-3">
      <div>
        <%= link_to "#{pluralize(@user.posts.count, "Post")}", profile_path(@user), class: "transition hover:text-blue-700" %>
      </div>
      <div>
        <%= link_to "#{pluralize(@user.followers.count, "Follower")}", followers_profile_path(@user), data: { turbo_frame: "list-region" }, class: "transition hover:text-blue-700" %>
      </div>
      <div>
        <%= link_to "#{pluralize(@user.followings.count, "Following")}", followings_profile_path(@user), data: { turbo_frame: "list-region" }, class: "transition hover:text-blue-700" %>
      </div>
    </div>
  </div>
  <% if current_user == @user %>
    <div class="col-span-2 col-start-1 row-start-2 mt-2">
      <%= render "shared/postform" %>
    </div>
  <% end %>
  <div class="col-span-2 row-span-3 col-start-1 row-start-3">
    <%= turbo_frame_tag "list-region" do %>
      <%= render 'shared/postlist', list_title: "Posts", list: @posts %>
    <% end %>
  </div>
  <div class="row-span-2 col-start-3 row-start-1">5</div>
</div>