<%= render "shared/navbar" %>
<%= render "shared/flash" %>
  <%= turbo_frame_tag "profile-action", class: "grid grid-cols-1 auto-rows-min gap-4 md:grid-cols-3 pb-5 md:w-4/5 px-5 mx-auto mt-5" do %>
    <div class="grid grid-cols-1 gap-4 py-4 px-3 bg-white shadow-sm border border-slate-200 rounded-lg md:col-span-3 md:row-start-1">
      <div class="min-[310px]:flex  items-center justify-between">
        <div class="flex gap-2 items-center">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar.variant(resize_to_fill: [48, 48]).processed, class: "rounded-full" %>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-gray-500" width="3rem"><path d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" /></svg>
          <% end %>
          <div class="text-2xl">
            @<%= @user.username %>
          </div>
        </div>
        <div class="max-[310px]:mt-4">
          <% if current_user != @user %>
            <% if current_user.followings.include?(@user)  %>
              <%= button_to "Unfollow", unfollow_path(@user), method: :delete, class: "rounded bg-sky-700 px-3 py-1.5 text-sm font-medium text-white transition hover:bg-transparent hover:text-sky-800 focus:outline-none focus:ring active:text-sky-700 border border-sky-800" %>
            <% else %>
              <%= button_to "Follow", follow_path(@user), data: { turbo: false }, class: "rounded bg-sky-700 px-3 py-1.5 text-sm font-medium text-white transition hover:bg-transparent hover:text-sky-800 focus:outline-none focus:ring active:text-sky-700 border border-sky-800"%>
            <% end %>
          <% else %>
        <%= button_to "Edit Profile", edit_user_registration_path, method: :get, data: { turbo_frame: "_top" }, class: "rounded bg-sky-700 px-3 py-1.5 text-sm font-medium text-white transition hover:bg-transparent hover:text-sky-800 focus:outline-none focus:ring active:text-sky-700 border border-sky-800"  %>
          <% end %>
        </div>

      </div>
      <div class="min-[310px]:flex items-center gap-2">
        <div>
          <%= "#{pluralize(@user.posts.count, "Post")}" %>
        </div>
        <div>
          <%= link_to "#{pluralize(@user.followers.count, "Follower")}", profile_path(@user), data: { turbo_frame: "list-region" }, class: "transition hover:text-sky-800" %>
        </div>
        <div>
          <%= link_to "#{pluralize(@user.followings.count, "Following")}", followings_profile_path(@user), data: { turbo_frame: "list-region" }, class: "transition hover:text-sky-800" %>
        </div>
      </div>
  </div>
    <% if current_user == @user %>
      <div class="md:col-span-3">
        <%= render "shared/form", model: @post, placeholder: "What's the buzz?" %>
      </div>
    <% end %>
    <div class="md:col-span-2">
      <%= render 'shared/postlist', list_title: "Posts", list: @posts %>
    </div>
    <div class="md:col-span-1">
      <%= turbo_frame_tag "list-region" do %>
        <%= render "shared/userslist", list_title: "Followers", list: @user.followers, message: "Currently do not have any followers!" %>
      <% end %>
    </div>
  <% end %>
