<h2 class="text-2xl text-gray-800 pb-3">Comments</h2>
  <% if @comments.count.zero? %>
    <div class="notice p-4 m-2 mx-auto text-sm text-blue-800 rounded-lg bg-blue-50">Currently no comments :/</div>
  <% else %>
    <div class="relative flex flex-col bg-white shadow-sm border border-slate-200 rounded-lg">
      <% @comments.each_with_index do |comment, ind| %>
        <div class="p-4 pb-2 flex flex-col gap-0.5 justify-center <%= "border-t-2 border-slate-100" unless ind.zero?%>">
          <%= link_to profile_path(comment.user), class: "flex items-center justify-between text-gray-700 text-sm transition hover:text-blue-700" do %>
            <p><%= "@#{comment.user.username}" %></p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-gray-500" width="2rem"><path d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" /></svg>
          <% end %>
          <p class="text-gray-800">
            <%= "#{comment.body}" %>
          </p>
        </div>
        <div class="flex justify-start mx-3 border-t border-slate-200 pb-3 pt-2 px-1">
          <div class="text-sm text-slate-600 font-light">
            <%= comment.created_at.strftime("%H:%M, #{comment.created_at.day.ordinalize} %B %Y") %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>