<%= render "shared/navbar" %>
<%= render "shared/flash" %>
<div class="grid grid-cols-1 md:grid-cols-3 auto-rows-min gap-5 md:w-4/5 mx-auto mt-5 px-5">
  <div class="md:col-span-3">
    <%= render 'shared/form', model: @post, placeholder: "What's the buzz?" %>
  </div>
  <div class="md:col-span-2 md:row-start-2">
    <%= render 'shared/postlist', list_title: "Your Feed", list: @posts %>
  </div>
  <div>
    <%= render "shared/userslist", list_title: "Other Users", list: @users, message: "You followed everyone!" %>
  </div>
</div>



