<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title><%= content_for(:title) || "Odinbook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full">
    <% if alert %>
      <div class="alert p-4 m-2 text-sm text-red-800 rounded-lg bg-red-50"><%= alert %></div>
    <% end %>
    <% if notice %>
      <div class="notice p-4 m-2 text-sm text-indigo-800 rounded-lg bg-indigo-50"><%= notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
